@media (min-width: 1024px) {
  .navbar-brand {
    margin-left: 70px;
  }
}
#signUpBtn {
  margin-right: 30px;
}

.navbar {
  background-color: #001648;
  height: 130px;
  position: relative;
  /* background-image: 'assets/Images/Buses.jpg'; */
}
.fa-user-circle:before {
  content: "\f2bd";
  font-size: 25px;
  position: absolute;
  top: 30px;
  right: 30px;
}

#dropdown li {
  list-style: none;
  margin-right: 110px;
}
.nav-link {
  padding: 2rem 1rem;
}

.dropdown-menu a {
  color: #001648;
}
.dropdown-menu a:hover {
  color: #007bff;
  text-decoration: none;
}
.dropdown-menu {
  border: 1px solid #001648;
}

.dropdown-toggle:hover {
  color: #fff;
}
