.page-container{
  display: flex;
  height: 100%;

}

.sidebar{
  height: 100%;
  width: 300px;
  background: #001648;
}

.list-items{
  padding-top: 100px;
}

.list-item {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 18px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}


.list-item:hover{
  color: #03CFFF;
}


.list-item.selected{
  background: #03CFFF;
}

.list-item::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #03CFFF;

  /* set opacity to 0 by default */
  opacity: 0;

  transform: scaleY(0);

  transition: transform 0.2s, opacity 0.2s;
}


.list-item:hover::before{
  opacity: 0.35;
  transform: scaleY(0.5) scaleX(2);
}


.list-item.selected::before{
  opacity: 1;
  transform: scaleY(1);
}


.list-item i.far{
  margin-right: 15px;
  font-size: 24px;
}

a{
  text-decoration: none;
}
