<div class="page-container">
  <div class="sidebar">
    <div class="list-items">
      <a routerLink="sidebar" routerLinkActive="selected" class="list-item">
        <i class="far fa-building"></i>
        Companies
      </a>

      <a routerLink="sidebar" routerLinkActive="selected" class="list-item">
        <i class="far fa-user"></i>&nbsp;
        Users
      </a>

      <a routerLink="sidebar" routerLinkActive="selected" class="list-item">
        <i class="far fa-building"></i>&nbsp;
        This is test item
      </a>

    </div>
  </div>

  <div class="page-content-container">
    <router-outlet></router-outlet>
  </div>
</div>
