<div class="container mt-4 mb-4">
  <h5 class="title"><i class="fa fa-registered" aria-hidden="true"></i> Registeration Form <i class="fa fa-registered"
      aria-hidden="true"></i></h5>
  <hr class="mb-4" />

  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf = "message != null && message != ''">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        {{message}}
      </div>
      <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf = "errorMessage != null && errorMessage != ''">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        {{errorMessage}}
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <form [formGroup]="userForm" (ngSubmit)="register()">
        <div class="form-group">
          <label for="UserName">User Name</label>
          <input type="text" formControlName="userName" class="form-control" id="UserName"
            placeholder="Please Enter your Username"
            [ngClass]="{'is-invalid' : !this.userForm.get('userName').valid && this.userForm.get('userName').touched}">
          <div class="text-danger" *ngIf="!this.userForm.get('userName').valid && this.userForm.get('userName').touched; ">
            {{messageValidate.userName.required}}
          </div>
          <!-- <div class="text-danger" *ngIf="isUserNameExists()">
            {{messageValidate.userName.used}}
          </div> -->
        </div>

        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" formControlName="email" class="form-control" id="email"
            placeholder="Please enter your Email"
            [ngClass]="{'is-invalid' : !this.userForm.get('email').valid && this.userForm.get('email').touched}">
          <div class="text-danger" *ngIf="!this.userForm.get('email').valid && this.userForm.get('email').touched">
            <div class="text-danger" *ngIf="this.userForm.get('email').errors.required">
              {{messageValidate.email.required}}
            </div>
            <div class="text-danger" *ngIf="this.userForm.get('email').errors.email">
              {{messageValidate.email.notValid}}
            </div>
          </div>
          <!-- <div class="text-danger" *ngIf="isEmailExists()">
            {{messageValidate.email.used}}
          </div> -->
        </div>

        <div class="form-group">
          <label for="Password">Password</label>
          <input type="password" formControlName="password" class="form-control" id="password"
            placeholder="Please enter your Password" required minlength="8"
            [ngClass]="{'is-invalid' : !this.userForm.get('password').valid && this.userForm.get('password').touched}">
          <div class="text-danger"
            *ngIf="!this.userForm.get('password').valid && (this.userForm.get('password').touched || this.userForm.get('password').dirty)">
            <div *ngIf="this.userForm.get('password').errors.required">
              {{messageValidate.password.required}}
            </div>
            <div *ngIf="this.userForm.get('password').errors.minlength">
              {{messageValidate.password.minlength}}
            </div>
          </div>
          <div class="text-danger" *ngIf="!isPasswordValid()">
            {{messageValidate.password.notValid}}
          </div>

        </div>
        <div class="form-group">
          <label for="passwordConfirm">Confirm Password</label>
          <input type="password" formControlName="passwordConfirm" class="form-control" id="passwordConfirm"
            placeholder="Please enter your password Confirmation" required minlength="8"
            [ngClass]="{'is-invalid' : !this.userForm.get('passwordConfirm').valid && this.userForm.get('passwordConfirm').touched}">
          <!-- <div class="text-danger"
            *ngIf="!this.userForm.get('passwordConfirm').valid && (this.userForm.get('passwordConfirm').touched || this.userForm.get('passwordConfirm').dirty)">
             <div *ngIf="this.userForm.get('passwordConfirm').errors.required">
              {{messageValidate.password.required}}
            </div>
            <div *ngIf="this.userForm.get('passwordConfirm').errors.minlength">
              {{messageValidate.password.minlength}}
            </div>
          </div> -->
          <div class="text-danger" *ngIf="isPasswordMatch()">
            {{messageValidate.passwordConfirm.isMatch}}
          </div>

        </div>
        <button id="submit" type="submit" class="btn btn-primary"
          [disabled]="userForm.invalid || isPasswordMatch()">Submit</button> <!-- || isUserNameExists() || isEmailExists()-->
        <!-- <div class="alert alert-primary mt-3" role="alert">
          <strong>userName: </strong>{{this.userForm.get('userName').value}}
        </div>
        <div class="alert alert-primary mt-3" role="alert">
          <strong>username valid: </strong>{{this.userForm.get('userName').valid}}
        </div> -->
      </form>
    </div>

  </div>

  <div class="btn-login mt-5 mb-5 text-center">
    Already Have Account <a href="login" class="text-danger">Login</a>
  </div>
</div>
