.thanks-area .logo {
  margin-left: 40%;
}

.thanks-area h3 {
  text-align: center;
  font-size: 35px;
  font-family: none;
  font-weight: 600;
}

.checkLogo {
  width: 25%;
  margin-left: 35%;
}
.navbar {
  background-color: #001648;
}

@media (min-width: 1024px) {
  .navbar-brand {
    margin-left: 70px;
  }
}
