<div class="container mt-4 mb-4">
  <h5 class="title"><i class="fa fa-registered" aria-hidden="true"></i> Reset Password<i class="fa fa-registered"
      aria-hidden="true"></i></h5>
  <hr class="mb-4" />
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <form [formGroup]="confirmForm" (ngSubmit)="ResetPassword()">


        <div class="form-group">
          <label for="Password">Password</label>
          <input type="password" formControlName="password" class="form-control" id="password"
            placeholder="Please enter your Password" required minlength="8"
            [ngClass]="{'is-invalid' : !this.confirmForm.get('password').valid && this.confirmForm.get('password').touched}">
          <div class="text-danger"
            *ngIf="!this.confirmForm.get('password').valid && (this.confirmForm.get('password').touched || this.confirmForm.get('password').dirty)">
            <div *ngIf="this.confirmForm.get('password').errors.required">
              {{messageValidate.password.required}}
            </div>
            <div *ngIf="this.confirmForm.get('password').errors.minlength">
              {{messageValidate.password.minlength}}
            </div>
          </div>
          <div class="text-danger" *ngIf="!isPasswordValid()">
            {{messageValidate.password.notValid}}
          </div>

        </div>
        <div class="form-group">
          <label for="passwordConfirm">Confirm Password</label>
          <input type="password" formControlName="passwordConfirm" class="form-control" id="passwordConfirm"
            placeholder="Please enter your password Confirmation" required minlength="8"
            [ngClass]="{'is-invalid' : !this.confirmForm.get('passwordConfirm').valid && this.confirmForm.get('passwordConfirm').touched}">

          <div class="text-danger" *ngIf="isPasswordMatch()">
            {{messageValidate.passwordConfirm.isMatch}}
          </div>

        </div>
        <button id="submit" type="submit" class="btn btn-primary"
          [disabled]="confirmForm.invalid || isPasswordMatch()">Submit</button> <!-- || isUserNameExists() || isEmailExists()-->

      </form>
    </div>

  </div>

  <div class="btn-login mt-5 mb-5 text-center">
    Already Have Account <a href="login" class="text-danger">Login</a>
  </div>
</div>
